<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Brand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>


<body id="page-top">
<div id="load-page">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-user-astronaut"></i></div>
                <div class="sidebar-brand-text mx-3"><span>Quality-Lite</span></div>
            </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="index"><i class="fas fa-ruler"></i><span>Anlık Ölçüm</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="order_definition"><i class="fas fa-shopping-basket"></i><span>Order Tanımlama</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="step_definition"><i
                            class="fas fa-step-forward"></i><span>Model Adım Tanımlama</span></a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button">
                            <i class="fas fa-bars"></i></button>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Anlık Ölçüm</h3>
                    <div class="row mb-3">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Order Seçimi</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="form-label" for="city"><strong>Order Kodu</strong><br></label>
                                                        <select name="order_select"
                                                                class="form-select" id="order_select"
                                                                required>
                                                            {% for i in order_dict_all %}
                                                                {% if i == order_id %}
                                                                    <option value="{{ i }}" selected>{{ order_dict_all[i][0] }}</option>
                                                                {% else %}
                                                                    <option value="{{ i }}">{{ order_dict_all[i][0] }}</option>
                                                                {% endif%}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Anlık Ölçüm</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                 aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th>Order Kodu</th>
                                        <th>Model Adı</th>
                                        <th>Adım Adı</th>
                                        <th>Normal Ölçüm</th>
                                        <th>Anlık Ölçülen</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in step_dict %}
                                        <tr>
                                            <td>{{ order_dict[order_id][0] }}</td>
                                            <td>{{ order_dict[order_id][1] }}</td>
                                            <td>{{ step_dict[i][0] }}</td>
                                            <td>{{ step_dict[i][1] }}</td>
                                            {% if step_dict[i][2] != None %}
                                                <td id="{{ i }}">{{ step_dict[i][2]}}</td>
                                            {% else %}
                                                <td id="{{ i }}"></td>
                                            {% endif %}
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>

</div>
</body>

</html>